.navbar
  height 100px
  width 900px
  margin 20px auto 40px
  position relative

.brand
  font-size 2em

.nav
  list-style none
  position absolute
  display inline-block
  right 0
  -webkit-padding-start 0px

li
  display inline-block
  margin-left 20px
