@import './../../mixins.styl';

.wrapper
  clearfix()
  margin 0 auto
  max-width 900px

.editor-container
  box-sizing border-box
  width 50%
  float left

.input-title
  width 100%
  padding 10px 20px
  margin-bottom 20px
  border 1px solid $gray
  border-radius 4px
  &:focus
    border 1px solid $black

.input-text
  width 100%
  padding 10px 20px
  border 1px solid $gray
  border-radius 4px
  resize none
  &:focus
    border 1px solid $black


.post-container
  width 50%
  float right
  padding 0 20px

.btn-container
  margin 20px 0

.title
  padding 12px 0

.btn
  border-radius 4px
  border 0px
  color $white
  padding 10px 20px
  background-color $blue
  margin-left 20px
  &:first-child
    margin-left 0
