@import 'normalize.css';
@import 'mixins.styl';

body
  font-family "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  font-weight 300
  color $black

a
  color $black
  text-decoration none
  &:visited
    color $black

.wrapper
  margin 0 auto
  max-width 900px

*
  box-sizing border-box
