@import './../../mixins.styl'

.wrapper
  clearfix()
  max-width 900px
  margin 0 auto

td
  padding 10px 20px

.btn
  border-radius 4px
  color $white
  border 0px
  padding 10px 20px
  background-color $blue
  margin-right 20px
  &:first-child
    margin-left 0

.clickable
  color $blue
  border 0px
  margin-right 20px
  &:first-child
    margin-left 0
  &:visited
    color $blue

.subtitle
  text-align center
  padding 20px 0
  font-weight 800

.table
  width 96%
  margin 0 2%
  padding 10px
  border 1px solid $gray

.controls
  width 100%

.published-container
  float left
  width 50%

.unpublished-container
  float left
  width 50%
