@import './../../mixins.styl';

.wrapper
  max-width 400px
  margin 0 auto
  padding 20px
  border 1px solid $gray
  border-radius 4px

.panel
  padding 20px
  border 1px solid $gray
  border-radius 4px

.title
  text-align center
  font-size 1.4em
  line-height 2em
  font-weight 800

label
  display block
  font-weight 800
  margin-bottom 10px

.btn
  width 100%
  border-radius 4px
  color $white
  border 0px
  padding 10px 20px
  background-color $blue
  margin-right 20px

.input
  width 100%
  padding 10px 20px
  margin-bottom 20px
  border 1px solid $gray
  border-radius 4px
  &:focus
    border 1px solid $black

.code
  padding 20px
  border 1px solid $gray
  border-radius 4px
  margin-bottom 20px

.hilight
  background-color $gray
