$white = rgba(255, 255, 255, 0.91)
$blue = rgb(23, 136, 254)
$white = rgb(255, 255, 255)
$black = rgb(52, 52, 52)
$gray = rgb(210, 210, 210)

clearfix()
  zoom 1
  &:after
  &:before
    content ""
    display table
  &:after
    clear both

textarea,
input
  outline: none
