// $ variables $
$blue = #00c6ff
$navy = #2491E2


// bugfix! =D
.icon__cnt
  transform: none

.btn
  margin 0px 10px
  font 13px/15px 'Montserrat', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  text-transform uppercase

.btn-default
  color #777
  &:hover
    background-color #fff

body
  font-family "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  font-weight 300
  color #777
  min-width 400px

h1, h2, h3, h4, h5
  font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif

// Common
.spinner-basic
  display block
  margin 0 auto
  svg
    fill $navy

// temporary helper classes
.margin-top-20
  margin-top 20px

.inline-20-margin
  margin-left 20px

.inline-first
  margin-left 0px

.form-panel
  max-width 550px
  margin 100px auto

::selection
  background rgba(123, 174, 249, 0.79)
  color #fff
  text-shadow none

textarea
  resize vertical

img
  max-width 100%
  height auto

label
  cursor pointer


.navbar
  border-radius 0
  border 0
  min-height 50px

.navbar-default
  background-color #fff

.navbar-header
  padding 14px 0

a
  &:hover,
  &:focus
    text-decoration none

.brand
  display block
  font-size 3.2em
  letter-spacing -1px
  font-weight 700
  color #005AC9
  user-select none
  background linear-gradient(90deg, #00c6ff 10%, #0072ff 90%)
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  transition transform .1s linear
  text-shadow 0px 6px 10px rgba(150, 150, 150, .3)

  &:active
    transform scale(.93)

.navbar-nav > li > a
  line-height 100px
  padding 0 15px

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus
  background-color #fff
  color #000

.btn
  border-radius 50px
  min-width 130px
  &.btn-xs
    min-width 50px
    margin-left 2px
    font 9px/15px "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
    text-transform uppercase

.user-info-row
  margin-left 120px

.container-navigation,
.content-wrapper
  padding 0 20px
  max-width 960px
  margin 0 auto

.content-users,
.content-singleUser
  max-width 600px
  margin 0 auto

.user-row
  position relative
  padding 20px 30px
  position relative
  max-width 100%
  display block

.userpick
  float left
  background-color #EAEAEA
  border-radius 50px!important
  display block
  fill #fff

.expert-name
  font 23px/23px "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  margin 10px 0 7px

.expert-description
  color $blue
  font 10px/14px 'Montserrat', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  margin 4px 0
  text-transform uppercase



// Single user
.single-user-name,
.single-user-spec,
.single-user-city
  text-align center
  margin 0 auto
  display block

.single-user-name
  margin 20px 30px 5px
  font 4rem/5rem "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  text-align center

.single-user-spec
  color $blue
  font 15px/25px 'Montserrat', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  text-transform uppercase

.single-user-city
  font 15px/17px "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  .icon
    margin-bottom -5px

.single-user-buttons
  width 130px
  display block
  margin 20px auto

article.single-user-about
  margin 30px auto
  max-width 600px

.single-user-subtitle
  font 15px/30px 'Montserrat', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  text-transform uppercase

.single-user-rating
  svg
    fill #D915D9

.single-user-points
  display inline-block
  height 4rem
  width 25%
  text-align center
  vertical-align middle



// Messages
.thread-item
  &:hover
    transition all .5s ease
    color #0072ff
    cursor pointer

.single-message
  margin 3px 0

a.message-author
  font 14px/14px 'Montserrat', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif


// Footer
.footer-list-group
  margin 0
  padding 0
  text-align left
.footer-li-item
  text-transform uppercase
  font 12px/12px 'Montserrat', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  list-style none
  padding 3px
  margin-left 20px
  display inline-block
  &:first-child
    margin-left 0px
  &:hover
    cursor pointer
    color $navy


// userpics
.avatar
  float left
  width 80px
  height 80px
  border-radius 80px

.avatar-no-image
  background-color #eaeaea

  svg
    fill #ccc

.avatar-user-profile
  width 80px
  height 80px
  border-radius 80px

.avatar-single-user
  display block
  width 250px
  height 250px
  border-radius 250px
  border 2px solid #fff
  margin 0 auto
  background-color #eaeaea
  text-align center
  box-shadow 3px #ccc
  svg
    fill #ccc


.btn-block.margin-top-20
  margin-left 0
  line-height 30px


// this is crap but it's temporary, so i did it
@media (max-width 767px)
  .navbar-nav>li>a
    line-height 50px
    text-align center
    font-size 30px
    border-bottom 1px solid #eaeaea

  .navbar-default .navbar-toggle
    border none

  .collapse.navbar-collapse
    display none
  button.navbar-toggle.collapsed:hover,button.navbar-toggle.collapsed:active
    background-color #fff

.btn-requrest
  margin 0 auto

.btn-small
  min-width 30px!important
  font-size 11px

// Error Component
.errorMessage
  position fixed
  width 100%
  height 25px
  text-align center
  font-size 11px
  text-transform uppercase
  color white
  line-height 25px
  background-color red
  z-index 100
