// $ variables $
$blue = #00c6ff
$navy = #2491E2

body
  font-family "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  font-weight 300
  color #4e4b4b
  min-width 400px

h1, h2, h3, h4, h5
  color #000000

h2
  line-height 50px
p
  line-height: 22px;
  font-size: 16px;

// Common
.spinner-basic
  display block
  margin 0 auto
  svg
    fill $navy

// temporary helper classes
.margin-top-20
  margin-top 20px

.inline-20-margin
  margin-left 20px

.inline-first
  margin-left 0px

.centered
  text-align center

.form-panel
  max-width 550px
  margin 100px auto

::selection
  background rgba(123, 174, 249, 0.79)
  color #fff
  text-shadow none

textarea
  resize vertical

img
  max-width 100%
  height auto

label
  cursor pointer

.navbar
  border-radius 0
  border 0
  min-height 50px

.navbar-default
  background-color #fff

.navbar-header
  padding 14px 0

.navbar-brand
  line-height 50px
  font-size 23px

a
  &:hover,
  &:focus
    text-decoration none

.navbar-nav > li > a
  line-height 100px
  padding 0 15px

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus
  background-color #fff
  color #000

.btn
  min-width 130px
  &.btn-xs
    min-width 50px
    margin-left 2px
    font 9px/15px "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
    text-transform uppercase

.user-info-row
  margin-left 120px

.container-navigation,
.content-wrapper
  padding 0 20px
  max-width 960px
  margin 0 auto

.content-users,
.content-singleUser
  max-width 600px
  margin 0 auto

.user-row
  position relative
  padding 20px 30px
  position relative
  max-width 100%
  display block

.userpick
  float left
  background-color #EAEAEA
  border-radius 50px!important
  display block
  fill #fff

// table
.table-button
  width 80px
  &:hover
    cursor pointer
