// $ variables $
$blue = #00c6ff
$navy = #2491E2

body
  font-family "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  font-weight 300
  color #4e4b4b
  min-width 400px

h1, h2, h3, h4, h5
  color #000

h2
  line-height 50px

p
  line-height 22px
  font-size 16px

// temporary helper classes
.margin-top-20
  margin-top 20px

.margin-left-15
  margin-left 10px

.form-panel
  max-width 550px
  margin 100px auto

::selection
  background rgba(123, 174, 249, 0.79)
  color #fff
  text-shadow none

textarea
  resize vertical

img
  max-width 100%
  height auto

label
  cursor pointer

.navbar
  border-radius 0
  border 0
  min-height 50px

.navbar-default
  background-color #fff

.navbar-header
  padding 14px 0

.navbar-brand
  line-height 50px
  font-size 23px

:link,
:visited
  &:hover,
  &:focus
    text-decoration none

.navbar-nav > li
  & > :link,
  & > :visited
    line-height 100px
    padding 0 15px

.navbar-default .navbar-nav > .active
  & > :link,
  & > :visited
    &,
    &:hover,
    &:focus
      background-color #fff
      color #000

.btn
  min-width 130px

.container-navigation,
.content-wrapper,
.editor-wrapper,
.content-profile
  margin auto

.container-navigation,
.content-wrapper
  padding 0 20px
  max-width 960px

.editor-wrapper
  padding 0 20px
  max-width 1440px

.post-wrapper
  max-width 600px

.content-profile
  max-width 480px

// table
.table-button
  width 80px

  &:hover
    cursor pointer
